python=3.8
matplotlib
lxml
libiconv
uwsgi
sqlalchemy
pytest
requests
ldap3
psycopg2
flask
flask-login
pendulum
pynacl
flask-wtf
daiquiri
dominate
flask-bootstrap
install
lxml
pastaplus-soh
visitor
sniffer