[Unit]
Description=uWSGI instance to serve PASTA dashboard services
After=network.target

[Service]
User=pasta
Group=www-data
WorkingDirectory=/home/pasta/dashboard
Environment="PATH=/home/pasta/anaconda3/envs/dashboard/bin"
ExecStart=/home/pasta/anaconda3/envs/dashboard/bin/uwsgi --ini deployment/dashboard.ini

[Install]
WantedBy=multi-user.target