{% extends "base.html" %}

{% block metas %}
{{ super() }}
    <meta http-equiv="refresh" content="300">
{% endblock %}

{% block app_content %}
<h1 align="center">Health at a glance</h1>
<h4 align="center">As of: {{ system.timestamp(local=True) }}</h4>
{% if system.stale() %}
    <h4 align="center" class="alert-danger">WARNING: stale timestamp</h4>
{% endif %}

<h3 align="left">PASTA+ Server Infrastructure</h3>
<table class="table table-bordered">
    <tr>
        <th width="20%" style="text-align: center">Tier</th>
        <th style="text-align: center">Status</th>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/tier/PRODUCTION">
                Production
            </a>
        </td>
        <td class="{{ system.tier_status('PRODUCTION')[0] }}">
                {{ system.tier_status('PRODUCTION')[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/tier/STAGING">
                Staging
            </a>
        </td>
        <td class="{{ system.tier_status('STAGING')[0] }}">
                {{ system.tier_status('STAGING')[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/tier/DEVELOPMENT">
                Development
            </a>
        </td>
        <td class="{{ system.tier_status('DEVELOPMENT')[0] }}">
                {{ system.tier_status('DEVELOPMENT')[1] }}
        </td>
    </tr>
</table>

<h3 align="left">EDI Portals</h3>
<table class="table table-bordered">
    <tr>
        <th width="20%" style="text-align: center">Tier</th>
        <th style="text-align: center">Status</th>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/portal.edirepository.org">
                Production
            </a>
        </td>
        <td class="{{ system.server_status(servers['PORTAL_EDI'])[0] }}">
                {{ system.server_status(servers['PORTAL_EDI'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/portal-s.edirepository.org">
                Staging
            </a>
        </td>
        <td class="{{ system.server_status(servers['PORTAL_S_EDI'])[0] }}">
                {{ system.server_status(servers['PORTAL_S_EDI'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/portal-d.edirepository.org">
                Development
            </a>
        </td>
        <td class="{{ system.server_status(servers['PORTAL_D_EDI'])[0] }}">
                {{ system.server_status(servers['PORTAL_D_EDI'])[1] }}
        </td>
    </tr>
</table>

<h3 align="left">EZEML</h3>
<table class="table table-bordered">
    <tr>
        <th width="20%" style="text-align: center">Tier</th>
        <th style="text-align: center">Status</th>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/ezeml.edirepository.org">
                Production
            </a>
        </td>
        <td class="{{ system.server_status(servers['EZEML'])[0] }}">
                {{ system.server_status(servers['EZEML'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/ezeml-d.edirepository.org">
                Development
            </a>
        </td>
        <td class="{{ system.server_status(servers['EZEML_D'])[0] }}">
                {{ system.server_status(servers['EZEML_D'])[1] }}
        </td>
    </tr>
</table>

<h3 align="left">EDI GMN</h3>
<table class="table table-bordered">
    <tr>
        <th width="20%" style="text-align: center">Tier</th>
        <th style="text-align: center">Status</th>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/gmn.edirepository.org">
                Production
            </a>
        </td>
        <td class="{{ system.server_status(servers['GMN_EDI'])[0] }}">
                {{ system.server_status(servers['GMN_EDI'])[1] }}
        </td>
    </tr>
</table>

<h3 align="left">LTER GMN</h3>
<table class="table table-bordered">
    <tr>
        <th width="20%" style="text-align: center">Tier</th>
        <th style="text-align: center">Status</th>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/gmn.lternet.edu">
                Production
            </a>
        </td>
        <td class="{{ system.server_status(servers['GMN_LTER'])[0] }}">
                {{ system.server_status(servers['GMN_LTER'])[1] }}
        </td>
    </tr>
</table>

<h3 align="left">AUTHENTICATION</h3>
<table class="table table-bordered">
    <tr>
        <th width="20%" style="text-align: center">Tier</th>
        <th style="text-align: center">Status</th>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/auth.edirepository.org">
                Production
            </a>
        </td>
        <td class="{{ system.server_status(servers['AUTH'])[0] }}">
                {{ system.server_status(servers['AUTH'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/auth-s.edirepository.org">
                Staging
            </a>
        </td>
        <td class="{{ system.server_status(servers['AUTH_S'])[0] }}">
                {{ system.server_status(servers['AUTH_S'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/auth-d.edirepository.org">
                Development
            </a>
        </td>
        <td class="{{ system.server_status(servers['AUTH_D'])[0] }}">
                {{ system.server_status(servers['AUTH_D'])[1] }}
        </td>
    </tr>
</table>

<h3 align="left">DATA EXPLORER</h3>
<table class="table table-bordered">
    <tr>
        <th width="20%" style="text-align: center">Tier</th>
        <th style="text-align: center">Status</th>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/dex.edirepository.org">
                Production
            </a>
        </td>
        <td class="{{ system.server_status(servers['DEX'])[0] }}">
                {{ system.server_status(servers['DEX'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/dex-d.edirepository.org">
                Development
            </a>
        </td>
        <td class="{{ system.server_status(servers['DEX_D'])[0] }}">
                {{ system.server_status(servers['DEX_D'])[1] }}
        </td>
    </tr>
</table>

<h3 align="left">EDI LDAP</h3>
<table class="table table-bordered">
    <tr>
        <th width="20%" style="text-align: center">Tier</th>
        <th style="text-align: center">Status</th>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/ldap.edirepository.org">
                Production
            </a>
        </td>
        <td class="{{ system.server_status(servers['LDAP_EDI'])[0] }}">
                {{ system.server_status(servers['LDAP_EDI'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/ldap2.edirepository.org">
                Mirror
            </a>
        </td>
        <td class="{{ system.server_status(servers['LDAP2_EDI'])[0] }}">
                {{ system.server_status(servers['LDAP2_EDI'])[1] }}
        </td>
    </tr>
</table>
<h3 align="left">Related Services</h3>
<table class="table table-bordered">
    <tr>
        <th width="20%" style="text-align: center">Service</th>
        <th style="text-align: center">Status</th>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/seo.edirepository.org">
                EDI SEO
            </a>
        </td>
        <td class="{{ system.server_status(servers['SEO'])[0] }}">
                {{ system.server_status(servers['SEO'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/nis.lternet.edu">
               EML SCHEMA
            </a>
        </td>
        <td class="{{ system.server_status(servers['SCHEMA'])[0] }}">
                {{ system.server_status(servers['SCHEMA'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/vocab.lternet.edu">
                Controlled Vocabulary
            </a>
        </td>
        <td class="{{ system.server_status(servers['VOCAB'])[0] }}">
                {{ system.server_status(servers['VOCAB'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/web-x.edirepository.org">
                WWW/WEB-X
            </a>
        </td>
        <td class="{{ system.server_status(servers['WEBX'])[0] }}">
                {{ system.server_status(servers['WEBX'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/space.lternet.edu">
                Backup Space
            </a>
        </td>
        <td class="{{ system.server_status(servers['SPACE'])[0] }}">
                {{ system.server_status(servers['SPACE'])[1] }}
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/dashboard/health/server/josh.edirepository.org">
                Backup Josh
            </a>
        </td>
        <td class="{{ system.server_status(servers['JOSH'])[0] }}">
                {{ system.server_status(servers['JOSH'])[1] }}
        </td>
    </tr>
</table>

{% endblock %}
