{% extends "base.html" %}

{% block metas %}
{{ super() }}
    <meta http-equiv="refresh" content="300">
{% endblock %}

{% block app_content %}
<h1 align="center">{{ server }}</h1>
<h4 align="center">As of: {{ system.timestamp(local=True) }}</h4>
{% if system.stale() %}
    <h4 align="center" class="alert-danger">WARNING: stale timestamp</h4>
{% endif %}

<table class="table table-bordered">
    <tr>
        <th width="20%" style="text-align: center">Assertion</th>
        <th style="text-align: center">Status</th>
    </tr>

    {%  for assertion in system.server_assertions(server) %}
        {% if assertion == "LOAD_HIGH" %}
            <tr>
                <td align="center">{{ assertion }}</td>
                {% if system.server_assertions(server)[assertion] %}
                    <td class="text-danger">True - {{ system.state[server][1] }}</td>
                {% else %}
                    <td class="text-success">False - {{ system.state[server][1] }}</td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td align="center">{{ assertion }}</td>
                {% if system.server_assertions(server)[assertion] %}
                    <td class="text-danger">True</td>
                {% else %}
                    <td class="text-success">False</td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}

</table>
{% endblock %}