{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Update EDI LDAP User</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Please edit the information for user <em>{{ uid }}</em> in the fields below:</h5>
                {{ wtf.form_field(form.gn) }}
                {{ wtf.form_field(form.sn) }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.confirm_email) }}
                <h5>Please re-enter your password and select Save Changes to save your changes:</h5>
                {{ wtf.form_field(form.password) }}
                 <input class="btn btn-primary" type="submit" value="Save Changes"/>
                <input class="btn btn-primary" type="reset" value="Clear"/>
            </form>
        </div>
    </div>
{% endblock %}