{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
{% if title %}{{ title }} - EDI Dashboard{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <br/><br/>
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}
    <h1>Reset EDI User Password</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.confirm_password) }}
                <input class="btn btn-primary" type="submit" value="Submit"/>
                <input class="btn btn-primary" type="reset" value="Clear"/>
            </form>
        </div>
    </div>
    {% endblock %}

</div>

{% endblock %}